page-about {

}

.background{
  background-color:green;
}

.height-90{
  height:90px;
}

ul{
  padding:0;
  margin:0;
  list-style: none;
}

.kt-text-orange{
  color:#E65100;
}

.kt-text-heavy{
  font-weight:800;
}

.border-bottom{
  border-bottom:1px solid #a37e2c;
}

.dis-in-block{
  display: inline-block;
}
