<!--
  Generated template for the PrebookteedetailPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>

  <ion-navbar>
    <ion-title>prebookteedetail</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>
  <h3 text-center *ngIf="selectedItem">
    {{selectedItem.title}}
    <ion-icon [name]="selectedItem.name"></ion-icon>
  </h3>
  <h4 text-center *ngIf="selectedItem">
    You navigated here from <b>{{selectedItem.about}}</b>www
  </h4>
</ion-content>
