<ion-tabs>

  <ion-tab tab="home">
    <ion-router-outlet name="home"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="prebooktee">
    <ion-router-outlet name="prebooktee"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="calender">
    <ion-router-outlet name="calender"></ion-router-outlet>
  </ion-tab>
  <ion-tab tab="me">
    <ion-router-outlet name="me"></ion-router-outlet>
  </ion-tab>


  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="home" href="/tabs/(home:home)">
      <ion-icon name="flash"></ion-icon>
      <ion-label>主页</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="prebooktee" href="/tabs/(prebooktee:prebookteelist)">
      <ion-icon name="apps"></ion-icon>
      <ion-label>天天会员日</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="calender" href="/tabs/(calender:calender)">
      <ion-icon name="send"></ion-icon>
      <ion-label>日历</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="me" href="/tabs/(me:me)">
      <ion-icon name="send"></ion-icon>
      <ion-label>我的</ion-label>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
