<ion-header>
  <ion-toolbar>
    <ion-title>天天会~员日</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <div *ngFor="let tee of teetimes" (click)="teeClicked(tee)">
      <ion-row class="kt-text-black kt-padding-left-10 border-bottom"> {{tee.date}}</ion-row>
      <ion-row class="border-bottom">
        <ion-col col-4>
          <img class="height-90" [src]="tee.imgUrl">
        </ion-col>
        <ion-col col-8>
          <ul>
            <li>
              {{tee.name}}
            </li>
            <li>
              {{tee.about}}
            </li>
            <li class="dis-in-block">会员<span class="kt-text-orange kt-text-heavy">$40</span></li>
            <li class="dis-in-block">正常价格<span class="kt-text-orange kt-text-heavy">$44</span></li>
            <br>
            <li class="bg-green"><span style="font-size:12px;">每组最高可省</span><span class="kt-text-orange kt-text-heavy ">$16</span></li>
          </ul>
        </ion-col>
      </ion-row>
    </div>
  </ion-grid>
</ion-content>
