<ion-header>
  <ion-toolbar>
    <ion-title>酷尔夫大联盟</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
    <button (click)="hello()">测试</button>

    <div>
        <h3 class="text-center T-margin-15">酷尔夫联盟会员</h3>
        <h3 class="text-center kt-slogan">天天有球局，省心又省钱</h3>
        <p class="L-margin R-margin T-margin kt-padding-5">
            酷尔夫，是一个北美业余高尔夫爱好者联盟。通过举办会员活动日及联盟杯赛，让广大会员约球省心又省钱，享受高尔夫的快乐并获取赛事奖励。酷尔夫，见证你每一步的精彩！
        </p>
    </div>

    <div>
        <img class="width-80 kt-block margin-center-auto" src="../../../assets/img/membership-vip.png">
        <div class="text-center T-margin B-margin">费用<span class="kt-text-orange kt-text-heavy kt-font-large">$200</span>&nbsp; 预存押金*</div>
    </div>

    <table class="table table-striped kt-text-orange">
        <tbody>
        <tr>
            <th scope="row"><i class="fa fa-check kt-text-gold" aria-hidden="true"></i></th>
            <td>不限次数享受会员日打球优惠，活动覆盖大温所有热门球场</td>
        </tr>
        <tr>
            <th scope="row"><i class="fa fa-check kt-text-gold" aria-hidden="true"></i></th>
            <td>每次活动会员可携带最多3位嘉宾，嘉宾享受嘉宾价格</td>
        </tr>
        <tr>
            <th scope="row"><i class="fa fa-check kt-text-gold" aria-hidden="true"></i></th>
            <td>邀请参与酷尔夫联盟杯赛事，享受酷尔夫联盟杯赛有奖排名</td>
        </tr>
        <tr>
            <th scope="row"><i class="fa fa-check kt-text-gold" aria-hidden="true"></i></th>
            <td>尊享全球高尔夫旅行私人定制服务</td>
        </tr>
        @*<tr>
            <th scope="row"><i class="fa fa-check kt-text-gold" aria-hidden="true"></i></th>
            <td>获得价值超过$500VIP教学礼包</td>
        </tr>*@
        <tr>
            <th scope="row"><i class="fa fa-check kt-text-gold" aria-hidden="true"></i></th>
            <td>尊享会员专场订场服务</td>
        </tr>
        <tr>
            <th scope="row"><i class="fa fa-check kt-text-gold" aria-hidden="true"></i></th>
            <td>会员权益仅限本人使用</td>
        </tr>
        </tbody>
    </table>

    <ul class="kt-note">
        <li class="kt-text-heavy">备注</li>
        @*<li>**联盟会员如需升级成为VIP年费会员，$200押金可抵扣为相应年费</li>*@
        <li>**年费会员从加入之日开始计算，为期一年</li>
        <li>如有任何问题，请联系酷尔夫客服代表获得帮助，客服电话：<span class="kt-text-heavy">(778)995-5578</span> 或添加微信号：<span class="kt-text-heavy">kootour01</span></li>
    </ul>

</ion-content>
