<ion-header>
  <ion-navbar>
    <ion-title>
      天天会员日
    </ion-title>
  </ion-navbar>
</ion-header>

<ion-content no-padding>


  <div *ngFor="let item of items" class="kt-text-black kt-padding-left-10 border-bottom">{{item.date}}</div>
  <ion-grid>
    <ion-row *ngFor="let item of items">
      <ion-col col-6>
        <img class="height-90" src="../../assets/imgs/golf-course-test.jpg">
      </ion-col>
      <ion-col col-6>
        <ul>
          <li>
            UBC golf club {{item.name}}
          </li>
          <li>
            UBC golf is located at UBC. {{item.about}}
          </li>
          <li class="dis-in-block">会员<span class="kt-text-orange kt-text-heavy">$40</span></li>
          <li class="dis-in-block">正常价格<span class="kt-text-orange kt-text-heavy">$44</span></li>
          <br>
          <li class="bg-green"><span style="font-size:12px;">每组最高可省</span><span class="kt-text-orange kt-text-heavy ">$16</span></li>
        </ul>
      </ion-col>
    </ion-row>
  </ion-grid>



</ion-content>
